.player {
    --position: 0;

    position: relative;
    grid-column-start: var(--position);

    display: flex;
    flex-direction: column;
    align-items: center;

    .rate-box {
        display: flex;
        width: 100%;

        margin-bottom: 0.5em;

        input {
            font-size: 1.2em;
            width: 100%;
            padding: 0em;

            font-weight: bold;
            text-align: center;

            border: 0.2em solid transparent;
            border-radius: 0.25em;

            outline: unset;

            &:focus {
                border-color: #ffc107;
            }
        }
    }

    .name {
        text-align: center;
        font-weight: 500;
        color: white;
    }


}

